.chat-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	.chat-container {
		position: relative;
		width: 500px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		.chat-room {
			height: 100%;
		}
		.Footer {
			background-color: lightgray;
			width: 100%;
			display: flex;
			a {
				color: inherit;
			}
			.section {
				flex: 1;
				display: flex;
				justify-content: center;
				font-size: 1.5rem;
				padding: 8px;
				cursor: pointer;
				transition: 0.15s;
				&:hover {
					color: white;
				}
			}
		}
	}
}
