@import '~include-media/dist/_include-media';

.CreateTweet {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	&.toggled {
		display: flex;
	}
	.img-holder {
		width: 500px;
		height: 100%;
		flex: 1;
		img {
			width: 100%;
			object-fit: fill;
		}
	}
	.form-container {
		width: 500px;
		background-color: white;
		.form {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;
			@include media('<500px') {
				padding: 0 4.5rem;
			}
			#file-upload-input {
				display: none;
			}
			.upload-icon {
				font-size: 1.5rem;
				font-weight: 600;
				cursor: pointer;
			}
			input {
				width: 100%;
				height: 5rem;
				border: none;
				outline: none;
				font-size: 1rem;
				display: block;
				&::placeholder {
					font-style: italic;
					font-size: 0.9rem;
				}
			}
			button {
				display: block;
				background: none;
				border: none;
				outline: none;
				font-size: 1.5rem;
				font-weight: 600;
				cursor: pointer;
				display: block;
				margin-right: 5px;
			}
		}
	}
}
