.Footer {
	background-color: lightgray;
	width: 100%;
	display: flex;
	.section {
		flex: 1;
		display: flex;
		justify-content: center;
		font-size: 1.5rem;
		padding: 8px;
		cursor: pointer;
		transition: 0.15s;
		&:hover {
			color: white;
		}
	}
}
