.Profile-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	.Profile {
		position: relative;
		width: 500px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.9);
		.Account-Detail {
			font-size: 1.4rem;
			width: 100%;
			h2 {
				font-weight: 300;
			}
			&.myposts {
				border-bottom: 1px solid rgba(0, 0, 0, 0.3);
				padding-bottom: 8px;
			}
		}
		.Profile-card {
			background-color: white;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 16px;
			.section-settings {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 8px;
				.settings-icon {
					cursor: pointer;
					font-size: 1.8rem;
				}
			}
			.section-account {
				display: flex;
				width: 100%;
				margin: 1.1rem 0;
				.img-container {
					width: 60px;
					border-radius: 50%;
					img {
						width: 100%;
						height: 60px;
						object-fit: contain;
					}
				}
				.display-container {
					padding: 0 1rem;
					h4 {
						&.toggled {
							display: none;
						}
						font-size: 1.1rem;
						margin-bottom: 3px;
						.edit-icon {
							font-size: 1rem;
							padding-top: 2px;
							cursor: pointer;
						}
					}
					p {
						font-weight: 300;
						font-size: 0.8rem;
					}
					.edit-form {
						display: none;
						position: relative;
						&.toggled {
							display: block;
						}
						.edit-input {
							background-color: lightgray;
							border: none;
							border-radius: 5px;
							outline: none;
							padding: 6px;
							padding-right: 2rem;
							font-size: 0.8rem;
							margin-bottom: 3px;
							position: relative;
						}
						.input-edit-icon {
							position: absolute;
							right: 5%;
							top: 15%;
							padding: 1px;
							cursor: pointer;
						}
					}
				}
				.util-container {
					display: flex;
					align-items: flex-start;
					font-size: 1.5rem;
					.btn-signout {
						background-color: #f03e3e;
						border-radius: 6px;
						padding: 8px;
						display: flex;
						cursor: pointer;
					}
				}
			}
		}
		.Footer {
			background-color: lightgray;
			width: 100%;
			display: flex;
			a {
				color: inherit;
			}
			.section {
				flex: 1;
				display: flex;
				justify-content: center;
				font-size: 1.5rem;
				padding: 8px;
				cursor: pointer;
				transition: 0.15s;
				&:hover {
					color: white;
				}
			}
		}
	}
}
