@import '~include-media/dist/_include-media';

.Tweet-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	.Tweet-container {
		width: 500px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		.Tweet {
			width: 100%;
			height: 100%;
			background-color: white;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			position: relative;
			.Tweet-item {
				border-bottom: 1px solid rgba(0, 0, 0, 0.3);
				width: 100%;
				padding: 12px;
				.username {
					display: flex;
					align-items: center;
					margin-bottom: 8px;
					color: rgba(0, 0, 0, 0.7);
					h4 {
						font-weight: 500;
						font-size: 13px;
						color: rgba(0, 0, 0, 0.9);
						margin-left: 3px;
					}
				}
				.img-div {
					img {
						width: 100%;
						max-height: 400px;
						object-fit: contain;
						@include media('<500px') {
							object-fit: initial;
						}
					}
				}
				.createdAt {
					font-size: 0.5rem;
					color: rgba(0, 0, 0, 0.7);
					font-style: italic;
					span {
						font-size: 0.4rem;
					}
				}
				.tweet-body {
					position: relative;
					font-size: 12px;
					font-weight: 600;
					color: rgba(0, 0, 0, 0.8);
					margin-top: 3px;
					overflow-y: unset;
					display: block;
					span {
						&.toggled {
							display: none;
						}
					}
					.edit-post-input {
						background-color: lightgray;
						border: none;
						border-radius: 5px;
						outline: none;
						padding: 6px;
						// padding-right: 2rem;
						font-size: 0.8rem;
						margin-bottom: 3px;
						position: relative;
						width: 100%;
					}
					.input-edit-icon {
						position: absolute;
						right: 2%;
						top: 15%;
						padding: 1px;
						cursor: pointer;
						font-size: 1rem;
					}
				}
				.utilcon {
					cursor: pointer;
					font-size: 1.1rem;
					margin: 0.3rem 0;
					&:nth-child(1) {
						&:hover {
							color: red;
						}
					}
					&:nth-child(2) {
						&:hover {
							fill: black;
							color: gray;
						}
					}
					&:nth-child(3) {
						&:hover {
							fill: black;
							color: gray;
						}
					}
				}
				.utilcon + .utilcon {
					margin-left: 7px;
				}
			}
			.create-mark {
				position: fixed;
				bottom: 5%;
				left: 50%;
				transform: translate(-50%, 0);
				font-size: 1.3rem;
				padding: 8px;
				margin: 6px;
				border: 2px solid lightgray;
				border-radius: 50%;
				display: flex;
				align-items: center;
				cursor: pointer;
				transition: 0.15s;
				z-index: 5;
				.toggled {
					transform: rotate(45deg);
					transition: 0.2s;
				}
				&.toggled {
					border: 2px solid rgba(0, 0, 0, 0.9);
					background-color: rgba(0, 0, 0, 0.9);
					color: white;
				}
				&:hover {
					transform: translate(-50%, -10%);
					border: 2px solid rgba(0, 0, 0, 0.9);
					background-color: rgba(0, 0, 0, 0.9);
					color: white;
				}
			}
		}
		.Footer {
			background-color: lightgray;
			width: 100%;
			display: flex;
			a {
				color: inherit;
			}
			.section {
				flex: 1;
				display: flex;
				justify-content: center;
				font-size: 1.5rem;
				padding: 8px;
				cursor: pointer;
				transition: 0.15s;
				&:hover {
					color: white;
				}
			}
		}
	}
}
